body {
  background: #555; }

h1 {
  color: #F1F1F1; }

img {
  width: 100%; }

.facebookLista > div {
  padding: 6px;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 6px; }

.indivualComentario .fecha, .indivualComentario .comentarios {
  margin-bottom: 0px; }
